@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000814;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: #000814;
}

::-webkit-scrollbar-thumb{
    background: #0c353b;
    border-radius: 10px;
}

.slick-slide > div {
    margin: 0 10px;
}